<!DOCTYPE html>
<html>
    {% include '/includes/head.html.twig' %}

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Word Counter</h1>
      </div>
      <h3>
          Write a sentence and then enter a word in that sentence and I will tell you how many times that word appears in the sentence.
      </h3>
      <form action="/find">
        <div class="form-group">
          <label for="sentence">Enter a sentence</label>
          <input type="text" id="sentence" name="sentence" class='form-control'><br>
        </div>
          <div class="form-group">
            <label for="find">Enter a word to be counted</label>
            <input type="text" id="find" name="find" class='form-control'><br>
          </div>
          <button class="btn" type="submit">Count the word!</button>
      </form><br><br>
      <div>
        <p>Your word appears {{ results }} times in the sentence: "{{ sentence }}"!</p>
      </div>
    </div>
  </body>
</html>
